<%# Data-URI SVG placeholders (WebP preferred later). %>

<!-- Hero -->
<section id="hero">

<div class="container-hero"> 
  
<%= image_tag("Top.png", class: "hero__bg", alt: "", aria_hidden: true) %>

<%= image_tag("Top.png", class: "hero__img", alt: "Descriptive alt text") %>



<div class="hero-overlay">
  <h2>スタイルも、 時間も、もっと自由に。</h2>
  <h1>hacona</h1>
  <h2>Hair Salon</h2>
</div>


</div>
</section>


<!-- Concept -->
<section id="concept" data-controller="scroll-fade">
  <div class="container-bg">
  <div class="container-main">
    <div class="section-text-rotated">
      <h1>Concept</h1>
    </div>
    <%= image_tag("concept.png", alt: "Concept image", class: "concept-image") %>
    <div class=content-container>
    <h2>about hacona</h2>
    <p class="font-playfair"> 2023年6月8日 OPEN。 キッズスペース完備で、お子様連れでも安心の少人数制サロン。 髪と頭皮に優しい「ヴィラロドラ」オーガニックカラーを導入し、ダメージレスにこだわった施術を提供。 高い技術で、忙しい朝も簡単にキマる似合わせスタイルに。</p>
    <p>MORE</p>

  </div>
  </div>
  </div>
</section>


<!-- Reservation -->
<section id="reservation" data-controller="scroll-fade">
  <div class="container-bg">
  <div class="container-main">
    <div class="section-text-rotated">
    <h2>Reservation</h2>
    </div>
        <%= image_tag("hacona0607_09.png", alt: "Reservation image", class: "reservation-image") %>
    </div>
  </div>
</section>

<!-- Menu -->
<section id="menu" data-controller="scroll-fade">
  <div class="container-bg">
  <div class="container-main">
    <div class="section-text-rotated">
    <h2>Menu</h2>
  </div>
  </div>
</section>

<!-- Gallery -->
<section id="gallery" data-controller="scroll-fade">
  <div class="container-bg">
  <div class="container-main">
    <h1 class="section-text-rotated">GALLERY</h1>
</div>
</div>
</section>



<!-- Access -->
<section id="access" data-controller="scroll-fade">
  <div class="container-bg">
  <div class="container-main">
    <div class="section-text-rotated">
      <h1>Access</h1>
    </div>
  </div>
</section>




